<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button *ngIf="onChatBox || isMyPost" ion-fab (click)="goToChatBox()">
        <ion-icon name="chatboxes"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="onChatBox || isMyPost">
      <button ion-fab class="fab-map" (click)="showGoogleMap()">
        <ion-icon name="globe"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="isMyPost">
      <button ion-fab class="fab-map" (click)="goToPostEdit()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="isMyPost">
      <button ion-fab color="danger" class="fab-map" (click)="deleteImage()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="back">
  <ion-card>
    <img
      [src]="
        postInfo.filename
          ? 'http://media.mw.metropolia.fi/wbma/uploads/' + postInfo.filename
          : ''
      "
    />
    <div *ngIf="this.postInfo.reserved" class="card-title">
      RESERVED
    </div>
    <ion-card-content>
      <ion-item *ngIf="isMyPost">
        <ion-icon name="checkbox-outline" item-start></ion-icon>
        <ion-label>Reserved:</ion-label>
        <ion-toggle
          color="royal"
          (ionChange)="toggleReserve()"
          [(ngModel)]="this.postInfo.reserved"
        ></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon name="cart" item-start></ion-icon>
        {{ postInfo.title }}
      </ion-item>
      <ion-item>
        <ion-icon name="list-box" item-start></ion-icon>
        {{ postInfo.description }}
      </ion-item>
      <ion-item>
        <ion-icon name="calendar" item-start></ion-icon>
        {{ this.postInfo.end_time }}
      </ion-item>
      <ion-item *ngIf="!this.postInfo.reserved || isMyPost">
        <ion-icon name="text" item-start></ion-icon>
        {{ this.postInfo.contact }}
      </ion-item>
      <ion-item *ngIf="!this.postInfo.reserved || isMyPost">
        <ion-icon name="alarm" item-start></ion-icon>
        {{ this.postInfo.contact_time_from }} -
        {{ this.postInfo.contact_time_to }}
      </ion-item>
      <ion-item *ngIf="!isMyPost">
        <ion-icon name="heart" item-start></ion-icon>
        <ion-label>Favorite:</ion-label>
        <ion-toggle
          color="royal"
          (ionChange)="toggleFavorite()"
          [(ngModel)]="onFavorite"
        ></ion-toggle>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <google-map *ngIf="onMap"> </google-map>
</ion-content>
