page-categories {

}
.back{
    background-image: url(../../assets/imgs/Background.png); 
    background-size:cover;
    }
.item{
    background-color:white;
    border-radius: 40%;
}
.name{
    align-self: auto;
}