$randomNumber: random(100);

page-categories {

}
.back{
    background-image: url(../../assets/imgs/Background.png); 
    background-size: cover;
    }
.option{
    height: 25px;
    background-color: rgba(255, 255, 255, 0.4) !important;
    border-radius: 15px !important;
}
.name{
    color: aliceblue;
}