page-chat-box {
  ion-content {
    background-color: bisque ion-note {
      font-size: 12px;
      align-self: flex-start;
      margin-top: 14px;
    }
    .list-avatar-page {
      overflow: auto; /* redundant, but just in case */
      display: flex; /* redundant, but just in case */
      flex-direction: column-reverse;
    }
    p {
      white-space: normal !important;
      width: 100%;
      text-align: justify;
    }
    ion-avatar {
      top: 0 !important;
      img {
        height: 50px !important;
        width: 50px !important;
      }
    }
    ion-list {
      height: 100%;
      ion-icon {
        font-size: 50px; //Preferred size here
      }
    }
    ion-grid {
      background-color: black;
      ion-input {
        background-color: white;
      }
    }
    .scroll-content {
      margin-bottom: 96px !important;
    }
  }
  ion-footer {
    bottom: 49px;
  }
}
